@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,100&display=swap');

@media screen and (max-width: 750px){
  .partage{
    height: 235px!important;
  }
  .drop-2{
    z-index: -1!important;
  }
  .drop-4{
   top: 197px!important;
   right: 269px!important;
  }
}
@media screen and (max-width: 1180px){
  .drop-2{
    z-index: -1!important;
  }
  .drop-6{
    z-index: -1!important;
  }
  .drop-3{
    bottom: 890px!important;
  }
}
/* Version desktop*/
body{
 min-height: 100vh;

}

.partage{

    background: rgba(255, 255, 255, .3);
    padding: 3rem;
    height: 130px;
    margin-bottom: 10px;
    border-radius: 20px;
    border-left: 1px solid rgba(255, 255, 255, .3);
    border-top: 1px solid rgba(255, 255, 255, .3);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    -moz-backdrop-filter: blur(10px);
    box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, .2);
    text-align: center;
}
label{  
    font-family: lato;
    color: black;
    font-weight: 500;
    font-size: 20px;
    opacity: 1.7;
    font-size: 1.4rem;
    margin-bottom: 60px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
    font-size: 30px;
    font-weight: 900;
}
.post{
    display: block;
}

.file{
    display: block;
}

.publiez{
    justify-content: flex-end;
    font-family: lato;
}
.card-title{
   
    font-family: Lato;
    padding-bottom: 20px;
    font-size: 25px;
    background: rgba(255, 255, 255, .3);
    padding: 1rem;
    padding-right: 3px;
    border-radius: 20px;
    border-left: 1px solid rgba(255, 255, 255, .3);
    border-top: 1px solid rgba(255, 255, 255, .3);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    -moz-backdrop-filter: blur(10px);
    box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, .2);
    font-weight: 900;
   
}
.card{
    background: rgba(255, 255, 255, .3);
    padding: 2.5rem;
    height: auto;
    border-radius: 20px;
    border-left: 1px solid rgba(255, 255, 255, .3);
    border-top: 1px solid rgba(255, 255, 255, .3);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    -moz-backdrop-filter: blur(10px);
    box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, .2);
    margin-bottom: 10px;
    font-family: lato;
    font-size: 25px;
}   

.card-message{
    display: grid;
    justify-content: center;
    justify-items: start;
    margin-top: 30px;
    margin-bottom: 30px;
}

.supprimer{
  display: contents;
  justify-content: space-between;
}
.TiTrash{
  font-size: 30px;
}

.like{
    display: flex;
    justify-content: space-between;
    font-weight: 900;
}
.m{
  margin-top: 20px;
  font-size: lato;
  font-size: 30px;
  font-weight: 900;
}
img{
  width: 450px;
  height: auto;
}

.textarea{
  margin-top: 30px;
}
.drop {
    background: rgba(255, 255, 255, .3);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 10px;
    border-left: 1px solid rgba(255, 255, 255, .3);
    border-top: 1px solid rgba(255, 255, 255, .3);
    box-shadow: 10px 10px 60px -8px rgba(0,0,0,0.2);
    position: absolute;
    transition: all 0.2s ease;
  }

  .drop-1 {
    height: 80px; width: 80px;
    top: 20px; left: 215px;
    z-index: -1;
  }
  
  .drop-2 {
    height: 80px; width: 80px;
    bottom: 70px; right: 50px;
  }
  
  .drop-3 {
    height: 110px; width: 110px;
    bottom: 970px; right: 362px;
    z-index: -1;
  }
  
  .drop-4 {
    height: 80px; width: 80px;
    top: 80px; right: 170px;
    z-index: -1;
  }
  
  .drop-5 {
    height: 60px; width: 60px;
    bottom: 170px; left: 90px;
    z-index: -1;
  }

  .drop-6 {
    height: 130px; width: 130px;
    bottom: -68px; left: -39px;
   
  }