@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,100&display=swap');

@media screen and (max-width: 750px){
  .partage{
    height:auto!important;
  }
 
  
  .card{
    max-width: auto!important;
  }
 

  img{
    width: 348px!important;
  
  }
}

/* Version desktop*/
body{
 min-height: 100vh;

}

.partage{

    background: rgba(255, 255, 255, .3);
    padding: 3rem;
    height: 130px;
    margin-bottom: 10px;
    border-radius: 20px;
    border-left: 1px solid rgba(255, 255, 255, .3);
    border-top: 1px solid rgba(255, 255, 255, .3);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    -moz-backdrop-filter: blur(10px);
    box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, .2);
    text-align: center;
}
label{  
    font-family: lato;
    color: black;
    font-weight: 500;
    font-size: 20px;
    opacity: 1.7;
    font-size: 1.4rem;
    margin-bottom: 60px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
    font-size: 30px;
    font-weight: 900;
}
.post{
    display: block;
}

.file{
    display: block;
}

.publiez{
    justify-content: flex-end;
    font-family: lato;
}
.card-title{
   
    font-family: Lato;
    padding-bottom: 20px;
    font-size: 25px;
    background: rgba(255, 255, 255, .3);
    padding: 1rem;
    padding-right: 3px;
    border-radius: 20px;
    border-left: 1px solid rgba(255, 255, 255, .3);
    border-top: 1px solid rgba(255, 255, 255, .3);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    -moz-backdrop-filter: blur(10px);
    box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, .2);
    font-weight: 900;
   
}
.card{
    background: rgba(255, 255, 255, .3);
    padding: 2.5rem;
    height: auto;
    border-radius: 20px;
    border-left: 1px solid rgba(255, 255, 255, .3);
    border-top: 1px solid rgba(255, 255, 255, .3);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    -moz-backdrop-filter: blur(10px);
    box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, .2);
    margin-bottom: 10px;
    font-family: lato;
    font-size: 25px;
    max-width: 23em;
}   

.card-message{
    margin-top: 30px;
    margin-bottom: 30px;
    
}

.supprimer{
  display: contents;
  justify-content: space-between;
}


.like{
    display: flex;
    justify-content: space-between;
    font-weight: 900;
}
.m{
  margin-top: 20px;
  font-size: lato;
  font-size: 30px;
  font-weight: 900;
}
img{
  width: 566px;
  height: auto;
}


