/* version mobile */
@media screen and (max-width: 750px) {
    
.demarrage{
    display: flex!important;
    margin-top: -198px!important;
}
.logo{
    margin-left: auto!important;
}
.group-hearderzero{
    display: contents;
    
}
}
/* version desktop */
.group-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8%;
    flex-wrap: wrap;
    padding: 5px 0;
    margin-bottom: -100px;
}

.logo{
    width: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 20px; 
}

.group-title{
    font-weight: bold;
    color: white;
    margin-bottom: 30px;
    margin-top: 2px;
   margin-right: 10px;
}
link{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 1;
    padding-right: 40px;
    text-align: right;    
}
button{

    padding : 10px 20px;
    color:black;
    cursor:pointer;
    font-size: 16px;
    justify-content: space-between;
    align-items: center;
    margin-right: 5px;
    border-radius: 20px;
    margin-bottom: 20px;
    border-color: #FFD7D7;
    background-color: #FFD7D7;
}


#react-confirm-alert{
    background: whitesmoke;
    border-radius: 20px;
    position: absolute;
    border-left: 10px solid rgba(255, 255, 255, .3);
    border-right: 10px solid rgba(255, 255, 255, .3);
    border-top: 1px solid rgba(255, 255, 255, .3);
    box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, .2);
 }
